<h1>Listing articles</h1>
 
<%= link_to '<button>New article</button>'.html_safe, new_article_path %>
<p>

</p>
<table border="1" align="left" bgcolor="#c6ccc8">
  <tr>
    <th align="left" >Title</th>
    <th align="left" >Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td align="left" ><%= article.title %></td>
      <td align="left" ><%= article.text %></td>
      <td align="left" ><%= link_to 'Show', article_path(article) %></td>
      <td align="left" ><%= link_to 'Edit', edit_article_path(article) %></td>
      <td align="left" ><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

